* {
  color: #ccc;
}

.viz {
  margin: 25px;
  border: 1px solid #BBBBBB;
  width: calc(100% - 50px);
  height: calc(100vh - 50px);
}

.viz .tile {
  stroke: none;
  fill: #FFF;
}
.viz .shadow-tl {
  stroke: none;
  fill: #CCC;
}
.viz .shadow-br {
  stroke: none;
  fill: #999;
}

.label {
  padding-right: 7px;
  width: 150px;
  text-align: right;
  display: inline-block;
  vertical-align: top;
}

.dimension .value {
  width: 60px;  
  text-align: right;
  background-color: #181818;
}

.radio-options {
  display: inline-block;
}

.radio-option {
  display: block;
}

.summary-table .header-label {
  width: 200px;
  text-align: right;
}

.summary-table .row-label {
  text-align: right;
}
