.viz {
  margin: 25px;
  border: 1px solid #BBBBBB;
  width: calc(100vw - 50px);
  height: calc(100vh - 50px);
}

.viz .tile {
  stroke: none;
  fill: #FFF;
}
.viz .shadow-tl {
  stroke: none;
  fill: #CCC;
}
.viz .shadow-br {
  stroke: none;
  fill: #999;
}

.controls-label {
  color: #ccc;
  padding-right: 7px;
  width: 100px;
  text-align: right;
  display: inline-block;
}

.controls-range {
  width: 250px;
}

.controls-value {
  color: #ccc;
}
