.viz {
  margin: 25px;
  border: 1px solid #BBBBBB;
  width: calc(100vw - 50px);
  height: calc(100vh - 50px);
}

.viz .tile {
  stroke: none;
  fill: #FFF;
}
.viz .shadow-tl {
  stroke: none;
  fill: #CCC;
}
.viz .shadow-br {
  stroke: none;
  fill: #999;
}


